.App {
  text-align: center;
}
h1
{
  color:rgb(58, 58, 63);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#d1
{
  margin-top: 20px;
}
#e ,#n
{
  color:black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#name,#email
{
  height:20px;
  width:auto;
}
.App-header {
  background-color: rgba(141, 130, 159, 0.71);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(172, 14, 14);
}
#country
{
  padding-left: 6px;
}
.App-link {
  color: #61dafb;
}
#name,#G,#country,#r
{
  color:black;
}
#b
{
  height:40px;
  width:100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
